body {
    background-image: linear-gradient(#A0D2EB, #D0BDF4, #A0D2EB);
      background-repeat: no-repeat;
      text-align: center;
      width: auto;
}

.Work {
    position: relative;
    display: inline-block;
  }

.dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    font-size: 15px;
    background-color: #B6DBEE;
  }
  
  .Work .dropdown li {
    text-align: left;
    font-size: 20px;
    margin-left: -32px;
    background-color: #B6DBEE;
    margin-bottom: 21px;
    color: #8458B3;
    font-weight: 600;
    font-family:  'Poppins', sans-serif;
  }

  .Work:hover .dropdown {
    /* display: block; */
    margin-top: 25px;
    border: solid black;
  }

  #Home:hover {
    color: #8458B3;
  }

  li.About:hover {
    color: #8458B3;
  }

  li.Work:hover {
      color: #8458B3;
  }
  
  .Work img {
      height: 50px;
      width: 40px;
      margin-bottom: 0px;
  }


.inline-block li {
    display: inline-block;
    text-align: end;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #E5EAF5;
    stroke: #494D5F;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #494D5F;
    margin: 10px;
    cursor: default;
}

.inline-block li.active {
    background: #B6DBEE;
    color: #9747FF;
  }

#Home {
  -webkit-text-stroke-width: 4px;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color: #E5EAF5;
  stroke: #494D5F;
  margin: 10px;
  cursor: default;
  -webkit-text-stroke-color: #494D5F;
  text-decoration: none;
}

.inline-block {
    text-align: end;
    float: right;
    margin-left: 415px;
}

.inline-block-logo img {
    vertical-align: top;
    float: left;
    height: 86px;
    margin-left: 50px;
}

.Navigation {
    display: flex;
    vertical-align: top;
    background-color: #B6DBEE;
    border: solid black;
    align-items: center;
    margin: -2px;
    margin-top: 0px;
}

#title{
    margin-right: 362px;
    margin-top: 54px;
    margin-bottom: 26px;
}

ul#pills-tab.nav.nav-pills.mb-3 {
    justify-content: center;
    background-color: #B6DBEE;
    border: solid 1px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color:#8458B3;

}

.nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 23px;
    color: #E5EAF5;
    stroke: #494D5F;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #494D5F;
}
.nav-link:hover {
    color: #8458B3;
}


h1 {
font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #8458B3;
}
.content1 {
  background-color: #31A6BF;
  margin-top: -16px;
}
.content1 img {
  float: center;
  height: 411px;
  margin-left: 15px;
}


#display-4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

.display {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

#pills-intro.tab-pane.fade.show.active {
    text-align: left;
    margin: 72px;
    background-color: #E5EAF5;
    padding: 40px;
}

a.btn.btn-primary.btn-lg {
    background-color: #8458B3;
}

#pills-Research.tab-pane.fade.active.show {
background-color: #E5EAF5;
padding: 40px;
margin: 72px;
}

#display-5 {
  font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    padding-top: 35px;
}
.first {
  display: flex;
    margin-bottom: 44px;
    margin-top: 67px;
    margin-left: 25px;
    margin-right: 25px;
}

.second {
  display: flex;
    margin-bottom: 44px;
    margin-top: 67px;
    margin-left: 25px;
    margin-right: 25px;
}

.card-Proto {
  margin-left: 47px;
  width: 30rem;
}

.card-Insights {
  margin-left: 47px;
}

.card-Affinity {
  margin-left: 47px;
}

.card-Empathy {
  margin-left: 47px;
}

.card-Persona {
  margin-left: 47px;
}


#pills-Problem.tab-pane.fade.show.active {
  text-align: left;
  margin: 72px;
  background-color: #E5EAF5;
  padding: 40px;
}

.line-1 {
  height: 2px;
  background: black;
}

#pills-Iterations.tab-pane.fade.show.active {
  text-align: center;
  margin: 72px;
  background-color: #E5EAF5;
  padding: 40px;
}

.mr-3 {
  width: 35rem;
}

div#collapseThree.collapse.show {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.media-body p {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

button.btn.btn-link {
  color: #8458B3;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 25px;
}

#ITPoints {
  text-align: center;
}

#pills-Prototyping.tab-pane.fade.show.active {
  text-align: center;
  margin: 72px;
  background-color: #E5EAF5;
  padding: 40px;
}

div.col-6.col-md-4 {
  align-self: center;
}

.Footer {
    margin-top: 50px;
}

#intouch {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-weight: 500;
        color: #494D5F
    }
    
#copy{
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-weight: 500;
        color: #494D5F;
        text-decoration:underline;
    }
    
    footer .fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
      }
      
.fa:hover {
          opacity: 0.7;
      }
      
.fa-facebook {
        background: #494D5F;
        color: #E5EAF5;
      }
    
.fa-instagram {
        background: #494D5F;
        color: #E5EAF5;
      }
    
.fa-linkedin {
        background: #494D5F;
        color: #E5EAF5;
      }
    
.burgerMenu {
        display: none;
        flex-direction: column;
        cursor: pointer;
      }
      
.line {
        width: 25px;
        height: 3px;
        background-color: black;
        margin-bottom: 5px;
      }


    

@media only screen and (max-width:600px) {
    .Navigation{
          display: flex;
          vertical-align: top;
          background-color: #B6DBEE;
          border: solid black;
          align-items: center;
          margin: -2px;
          margin-top: 0px;
        }    
  
        .inline-block{
            margin-left: 172px;
        }
  
          .inline-block-logo img{
              height: 110px;
              width: 288px;
          }
  
          ul.normalMenu{
              display: none;
              float: center;
              margin-left: -62px;
              padding-left: 0px;
            }
  
            ul.normalMenu li {
              font-size: 20px;
            }
          
            .burgerMenu {
              display: flex;
              margin-top: 23px;
            }
  
            #Home {
              margin-right: 55px;
              -webkit-text-stroke-width: 3px;
            }
            li.Work {
              margin-right: 37px;
            }
            li.About {
              margin-right: 55px;
            }
  
            .Work img {
              height: 25px;
              width: 20px;
              margin-bottom: -7px;
            }
  
            .dropdown {
                margin-left:-1px;
  
            }
  
            .Work .dropdown li {
                font-size: 12px;
            }
  
            body {
              background-image: linear-gradient(#A0D2EB, #D0BDF4, #A0D2EB);
              background-repeat: no-repeat;
              text-align: center;
              width: auto;
        }

  #title{
    margin-right: 3px;
  }

  .first {
    flex-direction: column;
    margin-left: -64px;
}

.second {
  flex-direction: column;
  margin-left: -69px;
}

.mr-3 {
  width: 21rem;
}
#pills-Prototyping.tab-pane.fade.show.active {
  margin: 27px;
}

#pills-Research.tab-pane.fade.active.show {
  margin: 42px;
}

.card-Proto {
  margin-left: 47px;
}
            .Footer {
                padding: 10px;
        
        }
          }           